**/.DS_Store
**/__pycache__/
**/.ipynb_checkpoints/
04-solute-transport-1_2D/2D_solute.h5
04-solute-transport-1_2D/2D_solute.pvsm
05-solute-transport-3D/3D_solute.h5
05-solute-transport-3D/solute-3D-end.pvsm
05-solute-transport-3D/solute-3D.pvsm